/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
:root {
    --bg-body: #d5dbd8;
    --bg-primary: #009688;
    --bg-secondary: #eaeaea;
    --color-text: #a4aab7;
}

body {
    background-color: var(--bg-body);
    font-family: Arial, Helvetica, sans-serif;
}

.bg-body {
    background-color: var(--bg-primary);
    height: 150px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

img {
    width: 100%;
}


/* CONTAINER INTERFACE*/
.container {
    position: relative;
    height: calc(100vh - 6.25rem);
    width: 1200px;
    margin: 3.125rem auto;
    background-color: var(--bg-secondary);
}

.row-container {
    height: 100%;
}

/* COL LEFT */
.row-container,
.col-left,
.col-right {
    display: flex;
}

.row-container,
.col-right,
.list-avatar  {
    flex-grow: 1;
}

.col-left {
    flex-direction: column;
    flex-shrink: 0;
    width: 400px;
    border-right: .0625rem solid #dadada;
}

.my-avatar,
.box-avatar-img {
    width: 50px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
}

.my-profile-avatar,
.active-notifications,
.search-chat,
.box-avatar {
    display: flex;
    align-items: center;
}

.my-profile {
    padding: .625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting-left {
    color: #b1b1b1;
    font-size: 1.25rem;
    cursor: pointer;
}

.fa-message {
    padding: 0 .625rem;
}

.active-notifications {
    background-color: #8edafc;
    padding: .9375rem;
}

.notifications-icon {
    font-size: 1.25rem;
    padding-right: .625rem;
}

.fa-bell-slash {
    background: white;
    border-radius: 50%;
    padding: .625rem;
    color: #8edafc;
}

.text-active-notifications {
    font-size: .8125rem;
}

.text-active-notifications a {
    color: #5a869a;
    padding-top: .1875rem;
    display: block;
}

.search-chat {
    margin: .3125rem .125rem;
}

.fa-magnifying-glass {
    color: #b1b1b1;
    font-size: .8125rem;
    padding: .1875rem;
}

.search-chat input {
    width: 95%;
    padding: .4375rem;
    border: none;
}

.list-avatar {
    overflow: auto;
}

.box-avatar {
    position: relative;
    padding: .625rem;
    cursor: pointer;
}

.text-avatar p {
    font-size: .75rem;
    color: var(--color-text);
}

.date {
    position: absolute;
    top: .3125rem;
    right: .625rem;
    font-size: .75rem;
    color: var(--color-text);
}

.box-avatar:hover{
    background-color: #d5dbdb;
}
/* COL RIGHT */
.col-right {
    flex-direction: column;
}

.main-chat {
    flex-grow: 1;
}


